In [30]:
import pandas as pd

In [31]:
import numpy as np

In [28]:
pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in c:\programdata\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: numpy>=1.17.3 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.11.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\majhi\appdata\roaming\python\python311\site-packages (from scikit-learn) (1.1.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [29]:
from sklearn.impute import SimpleImputer

In [21]:
df=pd.read_csv('data.csv')

In [34]:
df

      Country      Continent  Population (Millions)  Happiness Rank
0      France         Europe                   65.3            20.0
1       India           Asia                 1380.0           146.0
2  Bangladesh            NaN                  420.0             NaN
3      Brazil  South America                  212.6            41.0
4       China           Asia                 1444.0            72.0
5       Italy         Europe                   60.4            32.0
6    Pakistan           Asia                    NaN             NaN
7      Canada  North America                   38.5            15.0
8     Germany         Europe                   83.2            11.0
9         USA  North America                  331.4            16.0

### Simple Imputer:

In [40]:
imputer=SimpleImputer(missing_values=np.nan, strategy='mean')

In [44]:
df['Happiness Rank']

0     20.0
1    146.0
2      NaN
3     41.0
4     72.0
5     32.0
6      NaN
7     15.0
8     11.0
9     16.0
Name: Happiness Rank, dtype: float64

In [49]:
np.array(df['Happiness Rank'])

array([ 20., 146.,  nan,  41.,  72.,  32.,  nan,  15.,  11.,  16.])

In [53]:
df.iloc[:,1:2]

       Continent
0         Europe
1           Asia
2            NaN
3  South America
4           Asia
5         Europe
6           Asia
7  North America
8         Europe
9  North America

In [54]:
df.fillna(60)

      Country      Continent  Population (Millions)  Happiness Rank
0      France         Europe                   65.3            20.0
1       India           Asia                 1380.0           146.0
2  Bangladesh             60                  420.0            60.0
3      Brazil  South America                  212.6            41.0
4       China           Asia                 1444.0            72.0
5       Italy         Europe                   60.4            32.0
6    Pakistan           Asia                   60.0            60.0
7      Canada  North America                   38.5            15.0
8     Germany         Europe                   83.2            11.0
9         USA  North America                  331.4            16.0

In [43]:
imputer.fit(np.array(df['Happiness Rank']))

ValueError: Expected 2D array, got 1D array instead:
array=[ 20. 146.  nan  41.  72.  32.  nan  15.  11.  16.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.