In [7]:
import pandas as pd
import numpy as np

In [5]:
df=pd.read_csv('data.csv')

In [6]:
df

    Country      Continent  Population (Millions)  Happiness Rank
0    France         Europe                   65.3            20.0
1     India           Asia                 1380.0           146.0
2       USA            NaN                  420.0             NaN
3    Brazil  South America                  212.6            41.0
4     China           Asia                 1444.0            72.0
5     india         Europe                   60.4            32.0
6  Pakistan           Asia                    NaN             NaN
7    Canada  North America                   38.5            15.0
8   Germany         Europe                   83.2            11.0
9       USA  North America                  331.4            16.0